:root {
	--first-color:#757575;
	--second-color:#212121;
	--additional-color:#FFFFFF;
	--accent-color:#2196f3;
	--logo-color: #000000;
	--background-color-h-f: #2F303A;
	--hero-button-hover: #188CE8;
	--background-color-team: #F5F4FA;
	--tel-mail-color: rgba(255, 255, 255, 0.6);
	

}

/* -------BODY------- */
body {
	color:var(--first-color);
	font-family: Roboto, sans-serif;
	background-color: var(--additional-color);
}

/* -------ШАПКА------- */

.header-nav-link {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color:var(--second-color);
}

.header-nav-link:hover {
	color: var(--accent-color);
}

.header-nav-link:focus {
	color:var(--additional-color);
}

.current {
	color: var(--accent-color);
}

/* -------НАВИГАЦИЯ-КОНТАКТЫ------- */
.nav-contact {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color:var(--first-color)
}

.nav-contact:hover {
	color: var(--accent-color);
}
.nav-contact:focus {
	color: var(--additional-color);
}

.logo {
	color: var(--accent-color);
	text-decoration: none;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.logo-black {
	color: var(--logo-color);
}


/* -------ГЕРОЙ------- */
.hero {
	background-color: var(--background-color-h-f);
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--additional-color);
}
.hero-button {
	background-color: var(--accent-color);
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
	border-radius: 4px;
	color: var(--additional-color);
}
.hero-button:hover {
	background-color: var(--hero-button-hover);
}
/* -------НАШИ ПРИУМУЩЕСТВА------- */
.features-title {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-color);
}
.features-content {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}


/* -------ЧЕМ МЫ ЗАНИМАЕМСЯ------- */
.activity-title {
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--second-color);
}


/* -------НАША КОМАНДА------- */
.team {
	background-color: var(--background-color-team);
}
.team-title {
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: var(--second-color);
}

.team-item {
	background-color: var(--additional-color);
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--second-color);
}

/* -------FOOTER------- */
.footer {
	background-color: var(--background-color-h-f);
}

.foter-logo {
	color: var(--additional-color);
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo-blue {
	color: var(--accent-color);
}

.adres-link {
	text-decoration: none;
	font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
	color: var(--additional-color);
}

.footer-tel, .footer-mail {
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--tel-mail-color);
}

/* -------ПОРТФОЛИО СПИСОК КНОПОК------- */

.portfolio-btn {
background-color: var(--background-color-team);
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
color: var(--second-color);
}
.portfolio-btn:hover,:focus {
	background-color: var(--accent-color);
	color: var(--additional-color);
}

/* -------НАШИ РАБОТЫ------- */
.works-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--second-color)
}

.works-text {
	font-size: 16px;
	line-height: 1.9
	letter-spacing: 0.03em;
}

/* скрывает заголовок */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* убирает точки в списках */
.list {
	list-style: none;
}







/* основной цвет текста # 757575 */
/* дополнительный цвет текста # 212121 */
/* цвет текста заголовка # FFFFFF */
/* акцент # 2196F3 */
/* цвет лого шапка # 2196F3 + # 000000  */
/* цвет лого подвал # 2196F3 + # FFFFFF  */
/* цвет фона шапки #FFFFFF  */
/* hover кнопки "заказать услуги" # 188CE8*/
